@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Oldenburg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');


.page {
    display: flex;
    flex-direction: row;
}

.col1 {
    width: 33.33%;
    padding: 10px;
    background-color: #1C2C63;
    color: white;
    line-height: 1.5;
  }
dt {
    font-family: "Fjalla One", sans-serif;
    font-size: 25px;
    font-style: lighter;
    background-color: #7182b9;
    width: 105px;
    padding: 5px;
    text-align: center;
    border-radius: 8px;
}

dd {
    font-family: "Oldenburg", serif;
    font-size: 20px;
    font-style: normal;
}

.col2 {
    width: 33.33%;
    padding: 10px;
    background-color: #e3bcb1;
    color: black;
  }

.col3 {
    width: 33.33%;
    padding: 10px;
    background-color: #CBE3B1;
    color: black;
  }

h1 {
    font-family: "Dancing Script", cursive;
    font-size: 70px;
    background-color: #7182b9;
    text-align: center;
    padding: 15px;
    color: white;
    font-weight: 500;
}

h2 {
    font-family:"Fjalla One", sans-serif;
    font-size: 30 px;
    font-style: normal;
    background-color: #902c1a;
    text-align: center;
    color: white;
    padding: 8px;
    word-spacing: 2px;
    margin: 5px;
}